* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #AAAAAA;
    margin: 80px 110px 0px 110px;
}

a {
    text-decoration: none;
}

/* ----------------------------------------------------------------
                          Header Design
------------------------------------------------------------------- */

.nav-bar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.nav-bar .nav-bar-logo h1 {
    font-size: 24px;
    font-weight: 700;
}

.nav-bar-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;
}

.nav-bar-menu ul li {
    list-style: none;
    cursor: pointer;
}

.nav-bar-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: 600;
}

/*----------------------------------------------------------------
                        Main Menu Design
  ----------------------------------------------------------------*/
.prebook {
    display: flex;
    gap: 10px;
    align-items: center;
}

.prebook-title {
    width: 50%;
}

.prebook-products {
    width: 50%;
}

.prebook-products img {
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #f5efef;
}

.prebook-title p {
    margin-bottom: 20px;
}

.prebook-title h1 {
    font-size: 52px;
    font-weight: 700;
}

.btn {

    background-color: #E02C6D;
    border-radius: 15px;
    padding: 5px 20px;
}

.btn .fa-solid {
    padding-left: 10px;
}